# R specific
.Rhistory
.RData
.Ruserdata
.Rproj.user/
*.Rproj
*.Rout
*.Rout.save
.Renviron
.Rprofile

# Package check/cache
.Rcache/
.Rcheck/

# R Markdown / Quarto output
*.utf8.md
*.knit.md

# Deployment folder
rsconnect/

# OS-specific
.DS_Store
Thumbs.db

# Other
*.log
.ignore

# Development workbook folder
dev/